<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyClinicRima.Properties.Settings.MyClinicConnectionString1"
            connectionString="Data Source=DESKTOP-P5B22V5\FIRSTSERVER;Initial Catalog=MyClinic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyClinicRima.Properties.Settings.MyClinicConnectionString"
            connectionString="Data Source=DESKTOP-P5B22V5;Initial Catalog=MyClinic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyClinicRima.Properties.Settings.MyClinicConnectionString100"
            connectionString="Data Source=ABEDS-COMPUTER;Initial Catalog=MyClinic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>